@charset 'utf-8';
@import '../../base/variation.scss';

.c-account-form {
    > form {
        .c-button {
            button {
                width: 100%;
                padding: 8px;
            }
            + .c-button {
                margin-top: 15px;
            }
        }
    }
}