@charset "utf-8";

.c-tweet {
	background: $key-bg-color;
	height: 120px;
	&__inner {
		padding: 15px 20px 10px;
		display: flex;
		height: 100%;
	}
	&__icon {
		width: 60px;
		a {
			display: inline-block;
			width: 60px;
			height: 60px;
			// background-image: url('./img/')
			background: #ffffff;
			border-radius: 50%;
			vertical-align: bottom;
		}
	}
	&__contents {
		flex: 1;
		margin-left: 10px;
	}
}
