@charset 'utf-8';
@import './variation.scss';

@mixin btn-hover {
    transition: all .2s ease-in-out;
    &:hover {
        background: $btn-hover-color;
        color: $key-color;
    }
}

@mixin icon-hover {
    transition: all .2s ease-in-out;
    &:hover {
        background: rgba(29, 161, 242, .1);
    }
}
