@charset 'utf-8';

$key-color: #1da1f2;
$key-hv-color: #1e91d8;
$key-bg-color: #15202b;
$key-bg-color-light: #203242;
$key-font-color: #fff;
$key-font-color-light: #8899a6;
$border-color: #8899a6;
$border-color-light: rgba(135, 152, 165, .5);
$btn-hover-color: #fff;

$icon-width: 60px;
$icon-height: 60px;
