.c-button {
    > button {
        border: 1px solid $key-color;
        border-radius: 25px;
        font-size: 14px;
        font-weight: 600;
        color: $key-color;
        padding: 12px;
        @include btn-hover;
    }
    &.type-tweet {
        > button {
            color: $key-font-color;
            background: $key-color;
        }
    }
}