@charset "utf-8";

.c-search-box {
	width: 300px;
	margin-bottom: 20px;
	input {
		width: 100%;
		height: 40px;
		background: $key-bg-color-light;
		border-radius: 20px;
		padding: 5px 0 5px 40px;
		color: $key-font-color-light;
	}
}
